@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    

padding: 0;
    min-height: 100vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color: powderblue;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.footer_container {
    display: 

flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: 700;
    align-items: center;
}

.footer_logo {
    display: block;
  

  width: 70px;
    height: 50px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
   

 padding: 0 20px;
    gap: 25px;
    height: 70px;
}

.nav-link {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-

height: 22px;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #2b2d30;
}

html {
    scroll-behavior: smooth;
}

.main-avatars {
    

display: block;
    margin-right: auto;
    width: 80%;
}

.section{
    padding: 5px;
    width: 50%;
}

.left {
    float: left;
}


hr {
    border-

width: 1px;
    border-color: black;
    margin-top: 2px;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

h1 {
    

font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
}









